body {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 10vh;
}

header {
  height: 15vh;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  padding-left: 16px;
  font-size: 2.5em;
  background-image: url(/abstract-img.jpeg);
}

form {
  display: inline-flex;
  margin-top: 2.25em;
  width: max-content;
}

#task {
  display: flex;
  width: 400px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid rgb(171, 171, 171);
  padding-left: 16px;
  justify-content: center;
}

button {
  text-transform: uppercase;
  margin-left: 16px;
  width: 80px;
  border-radius: 16px;
  border: none;
}

li {
  display: flex-block;
  list-style: none;
  font-size: 20px;
}

#completed-tasks {
  text-decoration: line-through;
}

#check-icon {
  margin-right: 0.5em;
  align-items: center;
}

.hidden {
  display: none;
}
