body {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 10vh;
}

header {
  height: 15vh;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  padding-left: 16px;
  font-size: 2.5em;
  background-image: url(/abstract-img.jpeg);
}

.content-wrap {
  max-width: 60%;
  margin: 0 auto;
}

form {
  display: inline-flex;
  margin-top: 2.25em;
  max-width: 80%;
}

#task {
  display: flex;
  width: 400px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid rgb(171, 171, 171);
  padding-left: 16px;
  justify-content: center;
}

button {
  text-transform: uppercase;
  margin-left: 16px;
  width: 80px;
  border-radius: 16px;
  border: none;
  background-color: #3b002e;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
  position: relative;
}

.completed-tasks {
  color: rgb(212, 212, 212);
}

.hidden {
  display: none;
}

fieldset {
  border-radius: 16px;
  margin-top: 1em;
  border: 1px solid rgb(171, 171, 171);
}

legend {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#delete-btn {
  position: absolute;
  right: 16px;
}
#edit-btn {
  position: absolute;
  right: 56px;
}

#check-icon {
  margin-right: 16px;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 50px 25px;
  }

  .content-wrap {
    max-width: 60%;
  }

  ul {
    padding: 0;
  }
}
